USE [HARİTA]
GO
/****** Object:  Table [dbo].[Kapi]    Script Date: 12.09.2019 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kapi](
	[kapi_id] [int] IDENTITY(1,1) NOT NULL,
	[MAH_KODU] [int] NULL,
	[KAPI_NO] [int] NULL,
	[KOORDINAT] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kapi] PRIMARY KEY CLUSTERED 
(
	[kapi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahalle]    Script Date: 12.09.2019 15:14:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahalle](
	[MAH_KODU] [int] IDENTITY(1,1) NOT NULL,
	[MAH_ADI] [nvarchar](100) NULL,
	[KOORDINAT] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mahalle] PRIMARY KEY CLUSTERED 
(
	[MAH_KODU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
